.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 50; /* Ensure it’s above most elements */
    display: flex;
    align-items: center;
    justify-content: center;
  }

.mainNav{
    position: fixed;
    top: 0;
    left: 0;
    background: #ecedee;
    width: 400px;
    height:100vh
    
}
  